@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Regular.ttf'); /* IE9 Compat Modes */
    src: url('Roboto-Regular.ttf')  format('truetype')
}


  .lobby {
    display: grid;
    margin: auto;
    width: 90%;
    text-align: center;
    grid-template-columns: auto auto;
  }
  
  .leaderboard {
    display: grid;
    margin: auto;
    width: 50%;
    text-align: center;
    grid-template-columns: auto auto;
  }
  
  .cops {
    margin-right: 5px;
    padding: 1rem 0;
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    background-color: rgb(33, 66, 183);
  }
  
  .robbers {
    padding: 1rem 0;
    font-size: 1.5rem;
    font-weight: bolder;
    color: white;
    margin-left: 5px;
    background-color: rgb(183, 33, 33)
  }
  
  .lobby-leaderboard-robbers {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 5px;
    grid-auto-rows: 30px;
    padding-left: 5px;
  }
  
  .lobby-leaderboard-cops {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 5px;
    grid-auto-rows: 30px;
    padding-right: 5px;
  }
  
  .main-leaderboard-robbers {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 5px;
    grid-auto-rows: 30px;
    padding-left: 5px;
  }
  
  .main-leaderboard-cops {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 5px;
    grid-auto-rows: 30px;
    padding-right: 5px;
  }
  
  .player {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-template-columns: 23% 23% 23% 23%;
    padding-top: 6.25px;
    height: 25px;
    background-color: rgb(66, 66, 66);
    opacity: 0.8;
    color: white;
  }
  
  .active {
    background-color: #2eea51;
    color: white;
  }

  .timer {
    text-align: center;
    font-weight: bold;
    font-size: 1.25rem;
    grid-column-start: 1;
    grid-column-end: 3;
    padding: 0.5rem;
    background-color: rgb(66, 66, 66);
    opacity: 0.8;
    color: white;
    margin-top: 11px;
  }
.player-info {
	background-color: rgba(0, 0, 0, 0.64);
    position: fixed;
    left: 90%;
    right: 0px;
    bottom: 50px;
}

#speed {
  color: white;
  width: 128px;
  padding: 0.5rem;
  text-align: right;
}

#lives {
  color: white;
  width: 100px;
  padding: 0.5rem;
  text-align: right;
  grid-template-columns: auto auto auto auto;
}

.live {
  width: 60;
}

.hudtime {
  width: 128px;
  padding: 0.5rem;
  text-align: right;
}
